@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: hsl(211, 100%, 67%);
    --light-red: hsl(0,67%,71%);
    --light-yellow: hsl(42,73%,74%);
    --black-90: hsl(0,0%,10%);
    --black-70: hsl(0,0%,30%);
    --white: hsl(0,0%,100%);
    --white-alpha-40: hsl(0,0%,100%, 0.4);
    --white-alpha-50: hsl(0,0%,100%, 0.5);
    --body-bg-color: rgb(199, 239, 255);
    --border-color-1: hsl(42,45%,73%);
    --border-color-2: hsl(44,45%,73%, 0.40);
    --shadow-color: hsl(42,45%,73%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::before,
::after{
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    z-index: 10;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    padding: 10px 0;
}

.nav-buttons {
    margin: 0 20px;
    font-weight: 500;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: white;
}

::selection{
    color: white;
    background-color: var(--main-color);
}
body{
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 300px;
    font-size: 16px;
    background-color: var(--body-bg-color);
    color: var(--black-70);
    overflow-x: hidden;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    height: 1000px;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
    color: var(--black-90);
}

h3{
    font-size: 20px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

img{
    max-width: 140%;
    vertical-align: middle;
}

.container{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
    padding: 0 15px;
}

.home{
    padding: 188px 0 80px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.home::before{
    content: '';
    position: absolute;
    height: 120px;
    width: 120px;
    top: px;
    left: 155px;
    border-radius: 50% 50% 50% 50%;
    background-color: hsl(211, 100%, 67%);
    z-index: -2;
}

.home-text{
    /* background-color: blue; */
    grid-column: span 6;
    align-self: center;
}

.img1{
    margin-left: 100px;
}




.home-text h1{
    font-size: 50px;
    text-transform: capitalize;
    margin: 0 0 25px;
}

.highlight{
    background-color: var(--main-color);
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}

/* --------06.  = row --------*/

.row{
    --cols: 12;
    display: grid;
    grid-template-columns: repeat(var(--cols),minmax(0 , 1fr));
    grid-gap: 30px;
}

/* --------8. buttons ---------*/
.btn{
    background-color:hsl(211, 100%, 67%);
    color: white;
    border-radius: 30px;
    padding: 10px 28px;
    display: inline-block;
    margin-top: 20px;
    vertical-align: middle;
    text-transform: capitalize;
    
}

.btn:hover{
    background-color: rgb(95, 159, 255);
}

/* --------10. fancy-border-radius-box ---------*/

.fancy-br-box1 {
    height: 400px;
    width: 400px;
    margin: auto;
    position: relative;
    /* background-color: red; */
}

.fancy-br-box1::before {
    content: '';
    position: absolute;
    left: -10%;
    top: 0;
    height: 400%;
    width: 400%;
    border: 2px solid hsl(211, 100%, 67%);
    border-radius: 70% 60% 90% 70% / 80%;
    z-index: -1;
}

.fancy-br-box {
    height: 400px;
    width: 400px;
    margin: auto;
    position: relative;
    /* background-color: red; */
}

.img1{
    border-radius: 70% 60% 90% 70%/80%;
}

.fancy-br-box::before {
    content: '';
    position: absolute;
    left: -10%;
    top: 10px;
    height: 100%;
    width: 120%;
    border: 2px solid hsl(211, 100%, 67%);
    border-radius: 90% 60% 90% 70% / 80%;
    z-index: -1;
}

.fancy-br-box img {
    border-radius: 30% 60% 50% 50% / 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    
}

.sec2-para{
    margin-bottom: 20px;
}

.sec2-h3{
    margin-bottom: 20px;
    text-transform: capitalize;
}

.section-padding {
    padding: 60px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title .title {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 8px;
}

.section-title .sub-title {
    font-size: 40px;
    font-weight: 600;
    color: black;
    text-transform: capitalize;
    line-height: 1.2;
}

.about-img, .about-text {
    grid-column: span 6;
    /* background-color: red; */
}

 .about-text{
    grid-column: span 6;
    
}

.about-img .fancy-br-box::before{
    border-color: hsl(211, 100%, 67%);

}

ul{
    list-style: none;
}

.about-text ul li{
    margin-bottom: 6px;
    position: relative;
    
}

.about-text ul {
    color: var(--main-color);
    position: absolute;
}

.li-text{
    font-family: sans-serif;
    color: black;
    margin-left: 10px;
    font-size: 15px;

}

/* services items */
.services-item{
    grid-column: span 6;
    background-color: hsl(0,0%,100%, 0.4);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 0 10px rgb(154, 209, 255)
    ;
}

.services-item .img-box{
    width: 100px;
    flex-shrink: 0;
    border-radius: 10px;
}

.services-item .text{
    padding-left: 60px;
}

.itm-img{
    border-radius: 10px;
}

.services-item h3{
    text-transform: capitalize;
    margin: 0 0 15px;
}
.fun-fact{
    padding: 40px 30px;
    padding-left: 160px;
}
.fun-fact-item{
    grid-column: span 3;
    margin: 40px 0;
    text-align: center;
}

.fun-fact-item .box{
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.fun-fact-item .box::before,
.fun-fact-item .box::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 20%;

}

.fun-fact-item .box::before{
    background-color: rgb(156, 222, 255);
    z-index: -2;
    transform: rotate(45deg);
    opacity: 0.5;
}

.fun-fact-item .box::after{
    background-color: rgb(129, 198, 255);
    z-index: -1;
    transform: rotate(90deg);
    opacity: 0.5;
}
