@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: hsl(257,68%,73%);
    --light-red: hsl(0,67%,71%);
    --light-yellow: hsl(42,73%,74%);
    --black-90: hsl(0,0%,10%);
    --black-70: hsl(0,0%,30%);
    --white: hsl(0,0%,100%);
    --white-alpha-40: hsl(0,0%,100%, 0.4);
    --white-alpha-50: hsl(0,0%,100%, 0.5);
    --body-bg-color: rgb(199, 239, 255);
    --border-color-1: hsl(42,45%,73%);
    --border-color-2: hsl(44,45%,73%, 0.40);
    --shadow-color: hsl(42,45%,73%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::before,
::after{
    box-sizing: border-box;
}

.header{
    position: fixed;
    display: flex;
    justify-content: center;
    right: 50%;
    left: 50%;
    z-index: 10;
}


.nav-buttons{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

::selection{
    color: white;
    background-color: var(--main-color);
}
body{
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 300px;
    font-size: 16px;
    background-color: var(--body-bg-color);
    color: var(--black-70);
    overflow-x: hidden;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    height: 1000px;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
    color: var(--black-90);
}

a{
    text-decoration: none;
    color: var(--main-color);
}

img{
    max-width: 140%;
    vertical-align: middle;
}

.container{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
    padding: 0 15px;
}

.home{
    padding: 188px 0 80px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.home::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 120px;
    top: 0;
    left: 0;
    left: 120px;
    border-radius: 0% 0% 50% 50%;
    background-color: rgb(184, 126, 255);
}

.home-text{
    /* background-color: blue; */
    grid-column: span 6;
    align-self: center;
}

.home-text h1{
    font-size: 50px;
    text-transform: capitalize;
    margin: 0 0 25px;
}

/* --------06.  = row --------*/

.row{
    --cols: 12;
    display: grid;
    grid-template-columns: repeat(var(--cols),minmax(0 , 1fr));
    grid-gap: 30px;
}

/* --------8. buttons ---------*/
.btn{
    background-color: rgb(184, 126, 255);
    color: white;
    border-radius: 30px;
    padding: 10px 28px;
    display: inline-block;
    margin-top: 20px;
    vertical-align: middle;
    text-transform: capitalize;
    
}

.btn:hover{
    background-color: rgb(190, 136, 255);
}

/* --------10. fancy-border-radius-box ---------*/

.fancy-br-box{
    height: 400px;
    width: 400px;
    margin: auto;
    position: relative;
    
}

.fancy-br-box::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 140%;
    border: 2px solid rgb(231, 72, 252);
    border-radius: 40% 30% 90% 40% / 50%;
    z-index: -1;
   
}


.fancy-br-box > img{
    border-radius: 30% 60% 50% 50%/ 50%;
}


.section-padding{
    padding: 60px 0;
}

.section-title{
    text-align: center;
}

.section-title .title{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 8px;
}

.section-title .sub-title{
    font-size: 40px;
    font-weight: 600;
    color: black;
    text-transform: capitalize;
    line-height: 1.2;
}

 .about-text{
    grid-column: span 6;
    background-color: red;
    
}

.about-img, .fancy-br-box2{
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
    grid-column: span 6;
    
}